/* 
Questions.css
- Questions general
- Responsive
*/

/* Questions general
Descripción: estilos para las preguntas frecuentes de los usuarios
Estructura: 
- Questions
- Questions-h2
- Questions-ul
- Questions-li
- Questions-menu
- Questions-button
- Questions-button--plus.isActive
- Questions-button--minus.isActive
- Questions-button--minus
- Questions-h3
- Questions-p
- Questions-p.isActive
*/

.Questions{
    padding: 6.25rem 3.125rem;
    background-color:var(--color-green);
}
.Questions-h2{
    padding: 0 0 3.125rem 0;
    text-align: center;
    color: var(--color-white);
    font-weight: var(--font-weight);
    font-size: var(--font-h)
}
.Questions-ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
}

.Questions-li{
    width: 80%;
    padding: 1.25rem 1.875rem .625rem 1.875rem;
    background-color: var(--color-white);
    border-radius: 2.5rem;
}
.Questions-menu{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.Questions-button{
    background-color: var(--color-white);
    position: relative;
}
.Questions-button--plus.isActive{
    opacity: 0;
}
.Questions-button--minus.isActive{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    inset: 0;
}
.Questions-button--minus{
    opacity: 1;
}

.Questions-h3{
    font-weight: 500;
}
.Questions-p{
    display: none;
}
.Questions-p.isActive{
    display: block;
    padding: 1.25rem 0;
}

/* Questions general*/

/* Responsive
Descripción: estilos para adaptar el contenido a responsive
Estructura: 
- Pantallas con max-width 480px
- Pantallas con max-width 768px
- Pantallas con max-width 960px
- Pantallas grandes con min-width 2000px
*/

@media(max-width:480px){
    .Questions-li{
        padding: 1.25rem 1.875rem;
    }

}

@media (max-width:768px){
    .Questions-li{
        width: 90%;
    }

}
@media (max-width:960px){
    .Questions{
        padding: 6.25rem 0;
    }
}
@media (min-width:2000px){
    .Questions{
        max-width: 2400px;
        margin: auto;
    }

}

/* Responsive*/
